.footerlinks {
    color:#ffffff;
    text-decoration:none !important;
}

.roundedcorner {
    font-size: 11pt;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 3px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.background {
    background-color: black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}

.popup {
    background-color: white;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    /*width:800px;
            height:300px;*/
}
